@use "./../abstracts/" as *
@use "sass:math"
@use "sass:string"

@each $key, $value in $value-props
  .b#{$separator}#{$key}
    bottom: $value !important

  .b#{$separator}neg#{$separator}#{$key}
    bottom: -$value !important

@for $i from 1 through 30
  .b#{$separator}#{$i * 5}\%
    bottom: #{$i * 5} + '%' !important

  .b#{$separator}neg#{$separator}#{$i * 5}\%
    bottom: -#{$i * 5} + '%' !important

.b#{$separator}auto
  bottom: auto !important

@media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width)

  @each $key, $value in $value-props
    .#{$mobile-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$mobile-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$mobile-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$mobile-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$mobile-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width)

  @each $key, $value in $value-props
    .#{$tablet-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$tablet-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$tablet-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$tablet-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$tablet-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (min-width: $tablet-min-width)

  @each $key, $value in $value-props
    .#{$tablet-up-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$tablet-up-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$tablet-up-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$tablet-up-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$tablet-up-prefix}#{$separator}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (max-width: $tablet-max-width)

  @each $key, $value in $value-props
    .#{$tablet-down-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$tablet-down-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$tablet-down-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$tablet-down-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$tablet-down-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width)

  @each $key, $value in $value-props
    .#{$laptop-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$laptop-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$laptop-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$laptop-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$laptop-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (min-width: $laptop-min-width)

  @each $key, $value in $value-props
    .#{$laptop-up-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$laptop-up-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$laptop-up-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$laptop-up-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$laptop-up-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (max-width: $tablet-max-width)

  @each $key, $value in $value-props
    .#{$laptop-down-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$laptop-down-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$laptop-down-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$laptop-down-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$laptop-down-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

@media screen and (min-width: $desktop-min-width)

  @each $key, $value in $value-props
    .#{$desktop-prefix}#{$separator}b#{$separator}#{$key}
      bottom: $value !important

    .#{$desktop-prefix}#{$separator}b#{$separator}neg#{$separator}#{$key}
      bottom: -$value !important

  @for $i from 1 through 30
    .#{$desktop-prefix}#{$separator}b#{$separator}#{$i * 5}\%
      bottom: #{$i * 5} + '%' !important

    .#{$desktop-prefix}#{$separator}b#{$separator}neg#{$separator}#{$i * 5}\%
      bottom: -#{$i * 5} + '%' !important

  .#{$desktop-prefix}#{$separator}b#{$separator}auto
    bottom: auto !important

