@use "./../abstracts/" as *

.#{$class-prefix}badge
  width: 5rem
  cursor: pointer

  .#{$class-prefix}badge#{$separator}wrapper
    padding: 0.15rem 0.65rem
    display: flex
    align-items: center

