@use "./../abstracts/" as *

.hamberger
  cursor: pointer

  .hamberger#{$separator}bar
    background-color: var(--limpio-black)
    height: 2px
    width: 1.7rem !important
    margin-bottom: 0.5rem !important

    &.hamberger#{$separator}bar#{$separator}short
      width: 1.3rem !important

  .hamberger#{$separator}bar:last-child
      margin-bottom: 0 !important
