@use "./../abstracts/" as *

.notification *
    margin-bottom: 0

.notification
  width: 100%
  z-index: 1000
  position: fixed
  bottom: 0
  opacity: var(#{$variable-prefix}-modal-opacity)

  & .notification#{$separator}wrapper
    @if $enable-padding == true
      padding: 0.25rem 0.8rem

    & .notification#{$separator}title
      font-weight: inherit
      font-size: 1.3rem

    & .notification#{$separator}subtitle
      font-weight: inherit
      font-size: 1.2rem

    & .notification#{$separator}text
      font-size: inherit

