@use "./../abstracts/" as *

.flx#{$separator}wrap
  flex-wrap: wrap

.flx#{$separator}wrap#{$separator}reverse
  flex-wrap: wrap-reverse !important

.flx#{$separator}row
  flex-direction: row !important

.flx#{$separator}col
  flex-direction: column !important

.flx#{$separator}row#{$separator}reverse
  flex-direction: row-reverse

.flx#{$separator}col#{$separator}reverse
  flex-direction: column-reverse !important

.jc#{$separator}flex#{$separator}start
  justify-content: flex-start !important

.jc#{$separator}center
  justify-content: center !important

.jc#{$separator}flex#{$separator}end
  justify-content: flex-end !important

.jc#{$separator}space#{$separator}between
  justify-content: space-between !important

.jc#{$separator}space#{$separator}around
  justify-content: space-around !important

.jc#{$separator}space#{$separator}evenly
  justify-content: space-evenly !important

.js#{$separator}auto
  justify-self: auto !important

.js#{$separator}start
  justify-self: start !important

.js#{$separator}center
  justify-self: center !important

.js#{$separator}end
  justify-self: end !important

.js#{$separator}stretch
  justify-self: stretch !important

.ai#{$separator}start
  align-items: start !important

.ai#{$separator}center
  align-items: center !important

.ai#{$separator}end
  align-items: end !important

.ai#{$separator}flex#{$separator}start
  align-items: flex-start !important

.ai#{$separator}flex#{$separator}end
  align-items: flex-end !important

.as#{$separator}start
  align-self: start !important

.as#{$separator}center
  align-self: center !important

.as#{$separator}end
  align-self: end !important

.as#{$separator}flex#{$separator}start
  align-self: flex-start !important

.as#{$separator}flex#{$separator}end
  align-self: flex-end !important

.pc#{$separator}baseline
  place-content: baseline !important

.pc#{$separator}center
  place-content: center !important

.pc#{$separator}end
  place-content: end !important

.pc#{$separator}flex#{$separator}end
  place-content: flex-end !important

.pc#{$separator}flex#{$separator}start
  place-content: flex-start !important

.pc#{$separator}space#{$separator}around
  place-content: space-around !important

.pc#{$separator}space#{$separator}between
  place-content: space-between !important

.pc#{$separator}space#{$separator}evenly
  place-content: space-evenly !important

.pc#{$separator}start
  place-content: start !important

.pc#{$separator}stretch
  place-content: stretch !important

.pi#{$separator}baseline
  place-items: baseline !important

.pi#{$separator}center
  place-items: center !important

.pi#{$separator}end
  place-items: end !important

.pi#{$separator}flex#{$separator}end
  place-items: flex-end !important

.pi#{$separator}flex#{$separator}start
  place-items: flex-start !important

.pi#{$separator}space#{$separator}around
  place-items: space-around !important

.pi#{$separator}space#{$separator}between
  place-items: space-between !important

.pi#{$separator}space#{$separator}evenly
  place-items: space-evenly !important

.pi#{$separator}start
  place-items: start !important

.pi#{$separator}stretch
  place-items: stretch !important

@for $index from 1 to 13

  .ord#{$separator}#{$index}
    order: $index !important

@media screen and (max-width: $mobile-max-width)

  .#{$mobile-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$mobile-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$mobile-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$mobile-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$mobile-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$mobile-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$mobile-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$mobile-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$mobile-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$mobile-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$mobile-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$mobile-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$mobile-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$mobile-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$mobile-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$mobile-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$mobile-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$mobile-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$mobile-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$mobile-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$mobile-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$mobile-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$mobile-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$mobile-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$mobile-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width)

  .#{$tablet-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$tablet-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$tablet-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$tablet-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$tablet-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$tablet-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$tablet-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$tablet-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$tablet-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$tablet-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$tablet-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$tablet-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$tablet-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$tablet-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$tablet-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$tablet-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$tablet-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$tablet-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$tablet-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$tablet-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$tablet-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$tablet-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$tablet-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$tablet-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$tablet-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (min-width: $tablet-min-width)

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$tablet-up-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$tablet-up-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$tablet-up-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$tablet-up-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$tablet-up-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$tablet-up-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$tablet-up-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$tablet-up-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$tablet-up-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$tablet-up-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$tablet-up-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$tablet-up-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$tablet-up-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$tablet-up-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$tablet-up-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$tablet-up-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$tablet-up-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$tablet-up-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$tablet-up-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$tablet-up-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (max-width: $tablet-max-width)

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$tablet-down-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$tablet-down-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$tablet-down-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$tablet-down-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$tablet-down-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$tablet-down-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$tablet-down-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$tablet-down-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$tablet-down-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$tablet-down-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$tablet-down-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$tablet-down-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$tablet-down-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$tablet-down-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$tablet-down-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$tablet-down-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$tablet-down-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$tablet-down-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$tablet-down-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$tablet-down-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width)

  .#{$laptop-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$laptop-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$laptop-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$laptop-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$laptop-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$laptop-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$laptop-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$laptop-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$laptop-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$laptop-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$laptop-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$laptop-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$laptop-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$laptop-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$laptop-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$laptop-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$laptop-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$laptop-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$laptop-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$laptop-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$laptop-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$laptop-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$laptop-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$laptop-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$laptop-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (min-width: $laptop-min-width)

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$laptop-up-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$laptop-up-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$laptop-up-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$laptop-up-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$laptop-up-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$laptop-up-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$laptop-up-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$laptop-up-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$laptop-up-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$laptop-up-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$laptop-up-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$laptop-up-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$laptop-up-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$laptop-up-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$laptop-up-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$laptop-up-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$laptop-up-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$laptop-up-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$laptop-up-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$laptop-up-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (max-width: $laptop-max-width)

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$laptop-down-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$laptop-down-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$laptop-down-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$laptop-down-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$laptop-down-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$laptop-down-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$laptop-down-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$laptop-down-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$laptop-down-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$laptop-down-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$laptop-down-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$laptop-down-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$laptop-down-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$laptop-down-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$laptop-down-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$laptop-down-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$laptop-down-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$laptop-down-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$laptop-down-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13

    .#{$laptop-down-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

@media screen and (min-width: $desktop-min-width)

  .#{$desktop-prefix}#{$separator}flx#{$separator}wrap
    flex-wrap: wrap

  .#{$desktop-prefix}#{$separator}flx#{$separator}wrap#{$separator}reverse
    flex-wrap: wrap-reverse !important

  .#{$desktop-prefix}#{$separator}flx#{$separator}row
    flex-direction: row !important

  .#{$desktop-prefix}#{$separator}flx#{$separator}col
    flex-direction: column !important

  .#{$desktop-prefix}#{$separator}flx#{$separator}row#{$separator}reverse
    flex-direction: row-reverse

  .#{$desktop-prefix}#{$separator}flx#{$separator}col#{$separator}reverse
    flex-direction: column-reverse !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}flex#{$separator}start
    justify-content: flex-start !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}center
    justify-content: center !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}flex#{$separator}end
    justify-content: flex-end !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}space#{$separator}between
    justify-content: space-between !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}space#{$separator}around
    justify-content: space-around !important

  .#{$desktop-prefix}#{$separator}jc#{$separator}space#{$separator}evenly
    justify-content: space-evenly !important

  .#{$desktop-prefix}#{$separator}js#{$separator}auto
    justify-self: auto !important

  .#{$desktop-prefix}#{$separator}js#{$separator}start
    justify-self: start !important

  .#{$desktop-prefix}#{$separator}js#{$separator}center
    justify-self: center !important

  .#{$desktop-prefix}#{$separator}js#{$separator}end
    justify-self: end !important

  .#{$desktop-prefix}#{$separator}js#{$separator}stretch
    justify-self: stretch !important

  .#{$desktop-prefix}#{$separator}ai#{$separator}start
    align-items: start !important

  .#{$desktop-prefix}#{$separator}ai#{$separator}center
    align-items: center !important

  .#{$desktop-prefix}#{$separator}ai#{$separator}end
    align-items: end !important

  .#{$desktop-prefix}#{$separator}ai#{$separator}flex#{$separator}start
    align-items: flex-start !important

  .#{$desktop-prefix}#{$separator}ai#{$separator}flex#{$separator}end
    align-items: flex-end !important

  .#{$desktop-prefix}#{$separator}as#{$separator}start
    align-self: start !important

  .#{$desktop-prefix}#{$separator}as#{$separator}center
    align-self: center !important

  .#{$desktop-prefix}#{$separator}as#{$separator}end
    align-self: end !important

  .#{$desktop-prefix}#{$separator}as#{$separator}flex#{$separator}start
    align-self: flex-start !important

  .#{$desktop-prefix}#{$separator}as#{$separator}flex#{$separator}end
    align-self: flex-end !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}baseline
    place-content: baseline !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}center
    place-content: center !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}end
    place-content: end !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}flex#{$separator}end
    place-content: flex-end !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}flex#{$separator}start
    place-content: flex-start !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}space#{$separator}around
    place-content: space-around !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}space#{$separator}between
    place-content: space-between !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}space#{$separator}evenly
    place-content: space-evenly !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}start
    place-content: start !important

  .#{$desktop-prefix}#{$separator}pc#{$separator}stretch
    place-content: stretch !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}baseline
    place-items: baseline !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}center
    place-items: center !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}end
    place-items: end !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}flex#{$separator}end
    place-items: flex-end !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}flex#{$separator}start
    place-items: flex-start !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}space#{$separator}around
    place-items: space-around !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}space#{$separator}between
    place-items: space-between !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}space#{$separator}evenly
    place-items: space-evenly !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}start
    place-items: start !important

  .#{$desktop-prefix}#{$separator}pi#{$separator}stretch
    place-items: stretch !important

  @for $index from 1 to 13
    .#{$desktop-prefix}#{$separator}ord#{$separator}#{$index}
      order: $index !important

