@use "./../abstracts/" as *

.ls#{$separator}unstyled
  list-style: none !important

.ls#{$separator}disc
  list-style: disc !important

.ls#{$separator}decimal
  list-style: decimal !important

.ls#{$separator}cirlce
  list-style: circle !important

.ls#{$separator}square
  list-style: square !important

.lsp#{$separator}inside
  list-style-position: inside !important

.lsp#{$separator}outside
  list-style-position: outside !important

