@use "./../abstracts/" as *
@use "sass:math"

.row
  display: flex
  flex-wrap: wrap

@for $i from 1 through 12
  .col#{$separator}#{$i}
    width: calc(100% * math.div($i, 12)) !important

@media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width)

  .#{$mobile-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$mobile-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important


@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width)

  .#{$tablet-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$tablet-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important


@media screen and (min-width: $tablet-min-width)

  .#{$tablet-up-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$tablet-up-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important

@media screen and (max-width: $tablet-max-width)

  .#{$tablet-down-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$tablet-down-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important

@media screen and (min-width: $laptop-min-width) and (max-width: $laptop-max-width)

  .#{$laptop-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$laptop-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important

@media screen and (min-width: $laptop-min-width)

  .#{$laptop-up-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$laptop-up-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important

@media screen and (max-width: $laptop-max-width)

  .#{$laptop-down-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$laptop-down-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important

@media screen and (min-width: $desktop-min-width)

  .#{$desktop-prefix}#{$separator}row
    display: flex
    flex-wrap: wrap

  @for $i from 1 through 12
    .#{$desktop-prefix}#{$separator}col#{$separator}#{$i}
      width: calc(100% * math.div($i, 12)) !important


